/* General */

* {
    box-sizing: border-box;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.theme-dark, .theme-dark .button, .theme-dark button, .theme-dark h1 {
    color: #fff;
    border-color: #fff;`
}

.theme-light {
    color: #000;
}

html, body{
    height:100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #090035; 
}

a {
    text-decoration: none;
    color: #090035; 
}

a:visited {
    color: #090035; 
}

ul {
    list-style: none;
}
 

h1 {
    font-size: 2em;
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 20px;
}

header {
    background-position: top;
    background-repeat: no-repeat;
    padding: 6vw 0 18vw 0;
    background-size: 25%;
}

#contact header {
    height: 80vw;
    background: red url(img/contact-background.jpg);
}


main {
    margin-top: -150px;
    padding-top: 150px;
    position: relative;
    z-index: 1;
    background-position: center top;
    /*-webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    */
}

#contact main {
    margin-top: -300px;
    padding-top: 0;  
    position: relative;
}

.section-padding {
    padding: 60px 0;
}

.section-contact {
    top: -200px;
    position: relative;
}

nav {
    display: flex;
    position: relative;
    color: #fff;
    font-size: 14px;
}

nav a, nav a:visited {
    color: #fff;
    text-decoration: none;
}

.logo-valence {
    width: 150px;
    height: 38px; 
    display: block;
    background-image: url(../img/logo-valence.svg);
    margin-right: auto;
    text-indent: -5000px;
}

.layout-wrapper {
    margin: 0 auto;
    max-width: 80%;
}

.layout-columns-2, .layout-columns-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.layout-columns-2 .layout-column {
    width: 49%;
}

.layout-columns-3 .layout-column {
    width: 32.5%;
}

/* Slideshow */

.slideshow {
    position: relative;
    height: 65%;
    padding: 7.5% 0 0 0;
}

.slide-text {
    width: 65%;
    display: inline-block;
}

.slide-controls {
    position: absolute;
    top: 50%;
    width: 100%;
}

.slide-control-left{
    width: 13px;
    height: 22px;
    background-image: url(../img/icon-arrow-left.svg);
    left: -10%;
    position: absolute;
}

.slide-control-right {
    width: 13px;
    height: 22px;
    background-image: url(../img/icon-arrow-right.svg);
    right: -10%;
    position: absolute;
}

.slide-counter {
    display: flex;
    margin: 40px 0 0 0;
}

.slide-counter a{
    background-image: url(../img/icon-slide-counter.svg);
    width: 13px;
    height: 15px;
    display: block;
    margin-right: 20px;
    opacity: .3;
}

a.slide-counter-active {
    opacity: 1;
    transform: scale(1.2);
}

.slide-control-left:hover, .slide-control-right:hover, a.slide-counter:hover{
    cursor: pointer;
    transform: scale(1.2);
}

/* Cards */

.card, .card-transparent {
    background-color: #fff;
    border-radius: 3px;
    position: relative;
    filter: drop-shadow(0px 8px 4px rgba(0,0,0,.2));
    display: block;
}

.card-transparent {
    background-color: rgba(255,255,255,.1);
    filter: none;
    text-align: center;
    margin: 0 0 20px 0;
}

.card-transparent p {
    padding: 20px 0 20px 0;
}

.card-transparent img{
    max-width: 100%;
    padding: 5%;
    margin: 0 auto 20px auto;
    display: block;
}

.card-transparent button {
    margin: 20px;
}

.layout-columns-2 .card-padding {
    padding: 8%;
}

.layout-columns-3 .card-padding {
    padding: 5%;
}

.card p, .card-transparent{
    font-size: .8em;
}

.card-link a{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.card-banner {
    height: 20vw;
    width: 100%;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 860px) {
    .layout-wrapper {
        max-width: 92%;
    }
    
    .layout-columns-2 .layout-column {
        width: 100%;
        margin: 0 0 60px 0;
    }

    .layout-columns-3 .layout-column {
        width: 100%;
    }
}

.menu-1 {
    display: flex;
    width: inherit;
    line-height: 38px;
    justify-content: flex-end;
}

.menu-1 li {
    line-height: inherit;
}

.menu-1 li,  .menu-2 li {
    margin-left: 40px;
}

.menu-1 li:first-child, .menu-2 li:first-child {
    margin-left: 0;
}

.menu-2 {
    display: flex;
    position: absolute;
    top: 38px;
    right: 0;
    left: 0;
    justify-content: flex-end;
    flex-wrap: wrap;
    visibility: hidden;
    opacity: 0;
    -webkit-transition-property: opacity, visibility;
    -webkit-transition-duration: .4s, .4s;
    -webkit-transition-delay: .4s, .4s;
}

.menu-company:hover .menu-2,  .menu-company:hover .menu-2:hover{
    visibility: visible;
    opacity: 1;
    -webkit-transition-property: opacity, visibility;
    -webkit-transition-duration: .4s, .4s;
    -webkit-transition-delay: .4s, .4s;
}

.company {
    background-image: url(../img/icon-chevron.svg);
    background-position: right center;
    padding: 0 20px 0 0;
}

.menu-social {
    visibility:hidden;
    margin: 20px;
}

.menu-social li {
    line-height: 58px;
}

.menu-social {
    display: none;
    margin: 20px;
}

.menu-social li {
    line-height: 58px;
} 

.social-email {
    background-image: url(../img/icon-email.svg);
    background-position: left center;
    padding: 0 0 0 25px;
}

.social-linkedin {
    background-image: url(../img/icon-linkedin.svg);
    background-position: left -2px;
    padding: 0 0 0 25px;
}

.social-jobvite {
    background-image: url(../img/icon-jobvite.svg);
    background-position: left center;
    padding: 0 0 0 20px;
}

.social-medium {
    background-image: url(../img/icon-medium.svg);
    background-position: left center;
    padding: 0 0 0 30px;
}


@media only screen and (max-width: 860px) {
    header {
        padding: 0 0 0 0;
    }
    
    nav, .menu-1 {
        display: inline-block;
        background-color: #06002E;
    }
    
    nav {
        width: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        filter: drop-shadow(0px 8px 4px rgba(0,0,0,.2));
        border-bottom: 1px solid rgba(255,255,255,.1);
    }

    .nav-fixed {
        z-index: 100;
        height: 100vmax;
        overflow-y: auto;
    }
    
    .logo-valence {
        display: inline-block;
        margin: 20px
    }

    .menu-1 {
        display: none;
        border-top: 1px solid rgba(255,255,255,.1);
        font-size: 18px;
    }

    .menu-1 li {
        border-bottom: 1px solid rgba(255,255,255,.1);
        line-height: 58px;
        text-indent: 0;
    }

    .menu-2 {
        position: static;
        display: block;
        visibility: visible;
        opacity: 1;
        font-size: 3.5vw;
    }

    .menu-2 li:first-child {
        border-top: 1px solid rgba(255,255,255,.1);
    }

    .menu-2 li:last-child {
        border-bottom: 0;
    }
    
    .menu-1 li,  .menu-2 li, .menu-1 li:first-child {
        margin-left: 20px;
        text-indent: 0;
    }

    .menu-company {
        background-image: none;
    }

    nav.layout-wrapper {
        max-width: 100%;
    }

    .nav-active{
        display: block;
    }

    .menu-social {
        display: inherit;
        visibility: visible;
    }
    
    .menu-social li {
        font-size: 3vw;
    }
}

textarea{
    resize: vertical; 
}

.button-menu {
    display: inline;
    float: right;
    visibility: hidden;
    margin: 22px 20px;
}

.button-menu .line{
    width: 30px;
    height: 2px;
    border-radius: 4px;
    background-color: #ecf0f1;
    display: block;
    margin: 6px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.button-menu:hover{
  cursor: pointer;
}

#button-menu.is-active .line:nth-child(2){
  opacity: 0;
}

#button-menu.is-active .line:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#button-menu.is-active .line:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

@media only screen and (max-width: 860px) {
    .button-menu {
        visibility: visible;
    }
}

.button-submit {
    background-color: #3A76FF;
    color: #fff;
    font-size: 1em;
}

.button:hover, input[type="submit"]:hover {
    cursor: pointer;
}

button, .button {
    padding: 10px 20px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
    display: inline-block;
}

.background-gradient-1 {
    background-image: url(../img/background-gradient-1.svg);
}
.background-gradient-2 {
    background-image: url(../img/background-gradient-2.svg);
    background-position: top right;
    background-size: cover;
}

.background-gradient-3 {
    background-image: url(../img/background-gradient-3.svg);
    background-position: top right;
}

.background-gradient-4 {
    background-image: url(../img/background-gradient-4.svg);
    background-position: top right;
    background-size: cover;
}

.valence-diagram{
    background-image: url(../img/valence-diagram.svg), url(../img/background-gradient-2.svg);
    background-size: 62vw, cover;
    background-position: right 15%, center top;
}

/* Contact */

.contact-address {
    background-image: url(../img/icon-contact-location.svg);
    background-position: 5px 6px;
}

.contact-email {
    background-image: url(../img/icon-contact-email.svg);
    background-position: left center;
}

.contact-phone {
    background-image: url(../img/icon-contact-phone.svg);
    background-position: left center;
}

.contact-list li{
    height: 50px;
    line-height: 50px;
    font-size: .8em;
    padding-left: 45px;
}

.contact-list li span {
    line-height: 20px;
    display: block;
}

.contact-list h3 {
    padding: 0 0 20px 0;
}

/* Footer */

footer {
    min-height: 600px;
    padding: 100px 0 50px 0;
}

#contact footer {
    margin-top: -250px;
}

.footer-shadow{
    content: "";
    display: block;
    width: 100%;
    height: 10vw;
    background-image: url(../img/footer-shadow.png);
    background-position: center;
    background-size: cover;
}   

.contact-form {
    background-color: #06002E;
    display: flex;
    color: #fff;
    padding: 5%;
    justify-content: space-between;
    position: relative;
    border-radius: 2px;
}

.contact-form-success {
    background-color: rgba(6,0,46,.97);
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
    text-align: center;
    opacity: 0;
}

.contact-form-success:hover {
    opacity: 1;
    cursor: pointer;
}

.contact-form-success img {
    width: 60px;
    margin: -40px 0 30px 0;
}

.contact-form-success span h3, .contact-form-success span p{
    width: 100%;
    display: block;
}

.contact-form-success span p{ 
    font-size: .8em;
    margin: 10px;
}

.contact-intro {
    width: 35%;
    background-image: url(../img/icon-contact.svg);
    background-position: left center;
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;     
}

.contact-intro p {
    font-size: .8em;
    width: 200px;
}

.contact-form form {
    width: 60%;
}

.contact-form form div{
    display: flex;
    justify-content: space-between;
}

.contact-form form div input{
    width: 48%;
}

.contact-form form input, .contact-form form textarea{
    width: 100%;
    margin: 10px 0 10px 0;
}

.contact-form form input, .contact-form form textarea {
    height: 50px;
    border-radius: 3px;
    border: 0;
    text-indent: 10px;
}

.contact-form form textarea {
    height: 100px;
    padding: 10px 0 0 0;
}

.footer-social-links a {
    color: #fff;
    text-decoration: none;
    font-size: .8em;
}

.footer-social-links{
    text-align: center;
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    justify-content: space-around;
}

.copyright {
    color: #fff;
    text-align: center;
    font-size: .7em;
    opacity: .5;
    padding: 40px 0 0 0;
}

@media only screen and (max-width: 860px) {    
    .contact-form {
        flex-wrap: wrap;
    }
    
    .contact-form form, .contact-form .contact-intro{
        width: 100%;
        flex-wrap: wrap;
    }
    
    .contact-intro div, .contact-intro p {
        width: 100%;
    }
    
    .contact-intro div {
        padding: 0 0 20px 0;
    }
    
    .contact-form form div {
        flex-wrap: wrap;
    }
    
    .contact-form input{
        width: 100%;
    }
    
    .footer-social-links {
        flex-wrap: wrap;
    }
}